@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 2rem;
    background: rgba($black, 0.2);
    text-transform: uppercase;
    text-align: center;
    color: $white;
    font-family: $font-title;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $black;
        background: rgba($white, 0.5);
    }
}

.Active {
    color: $black;
    background: rgba($white, 0.5);
}
