@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Profile {
    display: flex;
    // flex-direction: column;
    position: relative;
    margin-bottom: 1.5rem;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    background: $black;
    margin: 1rem;
    width: 100%;

    .Image {
        max-width: 30px;
        height: auto;
    }

    .Title {
        color: $white;
        background: rgba($black, 0.3);
        bottom: 1rem;
        text-align: center;
        font-family: $font-title;
        font-size: 1.5rem;
        padding: 0.5rem;
        text-align: center;
        transition: all 0.15s ease-in-out;
    }

    .Overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($black, 0.9);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: all 0.5s ease;
        border-radius: 7px;

        .Content {
            margin-top: 1rem;
            padding: 0 1rem;
            text-align: center;
            font-size: 1.3rem;
        }
    }

    &:hover {
        background: darken($color: $gray, $amount: 30);
        color: $white;
        box-shadow: 0px 0px 30px -14px rgba(0,0,0,0.75);

        .Overlay {
            height: 100%;
        }

        .Title {
            opacity: 0;
        }
    }
}

@media only screen and (max-width: $phone) {
    .Profile {
        max-width: 200px;

        .Title {
            opacity: 0;
        }

        .Content {
            font-size: 1rem;
        }

        .Overlay {
            height: 100%;
            background: rgba($black, 0.5);
            color: $white;
        }
    }
}
