.Profile {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    .Image {
        height: 200px;
        border-radius: 50%;
    }

    .Title {
        margin-top: 1rem;
        text-align: center;
        font-size: 1.5rem;
    }
}