@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Profile {
    position: relative;
    margin-bottom: 1.5rem;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    background: $brown;
    margin: 1rem;
    max-width: 300px;
    border-radius: 7px;

    .Image {
        max-width: 100%;
        height: auto;
        border-radius: 7px;
    }

    .Overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $brown;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: all 0.5s ease;
        border-radius: 7px;

        .Title {
            margin-top: 1rem;
            padding: 0 1rem;
            text-align: center;
            font-size: 1.3rem;
        }
    }

    &:hover {
        background: darken($color: $gray, $amount: 30);
        color: $white;
        box-shadow: 0px 0px 30px -14px rgba(0,0,0,0.75);

        .Overlay {
            height: 100%;
        }
    }
}

@media only screen and (max-width: $phone) {
    .Profile {
        max-width: 200px;

        .Overlay {
            height: 100%;
            background: rgba($brown, 0.5);
            color: $white;
        }
    }
}
