@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/displays.scss";

.Bar {
    padding: 0.3rem;
    color: $black;
    font-size: 1.1rem;
    text-transform: uppercase;

    .Content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: $phone) {
    .Bar {
        .Content {
            justify-content: center;
        }
    }
}