@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Title {
    display: flex;
    padding: 1rem;
    background: $white;
    font-family: $font-title;
    font-weight: 700;
    font-size: 4rem;
    color: $blue;
}


@media only screen and (max-width: $medium) {
    .Title {
        font-size: 1.5rem;
    }
}