@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Title {
    display: flex;
    padding: 1rem;
    background: $white;
    margin-left: 2rem;
    margin-bottom: 2.5rem;
    width: 50%;
    font-family: $font-title;
    font-weight: 700;
    font-size: 4rem;
    color: $blue;
}


@media only screen and (max-width: $medium) {
    .Title {
        margin-left: 0;
        width: 70%;
        font-size: 1.5rem;
        justify-content: center;
    }
}