@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/displays.scss";

.Layout {
    max-width: 1920px;
    margin: 0 auto;
}

.Padded {
    @extend .Layout;
    padding: 0;
}

@media only screen and (max-width: 1800px) {
    .Padded {
        padding: 2rem;
    }
}