@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/displays.scss";

.Layout {
    max-width: 1800px;
    margin: 0 auto;
    border-top: none;
    border-bottom: none;
}