@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Card {
    display: flex;
    width: auto;
    background: $white;
    color: $black;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;

    .Image {
        position: relative;
        display: flex;
        max-width: 100%;
        justify-content: center;

        img {
            position: relative;
            min-width: 200px;
            height: auto;
            object-fit: cover;
        }

        &::after {
            content: '';
            position: absolute;
            background: rgba($white, 0.6);
            width: 100%;
            height: 100%;
            z-index: 2;
            transition: all 0.5s ease-in-out;
        }

        .Title {
            position: absolute;
            z-index: 3;
            color: $white;
            bottom: 1rem;
            text-align: center;
            font-family: $font-title;
            font-weight: 700;
            font-size: 1.5rem;
            padding: 0.5rem;
            border: 3px solid;
            width: 70%;
        }

    }

    .Content {
        display: flex;
        font-size: 1.3rem;
        padding: 1.5rem;
    }

    &:hover {
        .Image {
            &::after {
                opacity: 0;
            }
        }
    }

}

@media only screen and (max-width: $phone) {
    .Card {
        padding: 0;
        box-shadow: 0px 0px 10px -5px rgba($black, 0.75);
        flex-direction: column;

        .Image {
            img {
                min-width: 100%;
            }

            &::after {
                opacity: 0;
            }
        }

        .Content {
            font-size: 1rem;
            padding: 0.5rem;
            text-align: center;
        }
    }
}