@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Card {
    position: relative;
    background: $white;
    // color: $white;
    color: $black;
    box-shadow: 0px 0px 30px -15px rgba($black, 0.75);
    padding: 3rem;
    font-size: 1.3rem;
    border-radius: 7px;
    display: flex;
    align-items: center;

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: calc(100% - 1px);
    //     right: 30px;
    //     background: inherit;
    //     width :30px;
    //     height: 30px;
    //     clip-path: polygon(100% 0, 0 0, 100% 100%);
    // }
}

@media only screen and (max-width: $phone) {
    .Card {
        font-size: 1rem;
        padding: 1rem;
        box-shadow: 0px 0px 10px -5px rgba($black, 0.75);
    }
}