@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/displays.scss";

.Header {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 3rem 0;
    background: $blue;
    color: $white;
    // box-shadow: inset 0 -30px 30px -30px $shadow;
    margin: 0 auto;
    display: flex;
    padding-bottom: 5rem;

    img {
        margin: 0 auto;
        height: auto;
        max-width: 500px;
    }
}

@media only screen and (max-width: $phone) {
    .Header {
        // padding: 1rem 5rem;
    }
}