@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Carousel {
    display: flex;
    padding: 0 1rem;
    align-items: center;

    .Left {
        display: flex;
        margin: 0 1rem;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        background: $white;
        padding: 1rem;
        border-radius: 50%;
        box-shadow: 0px 0px 30px -14px $shadow;    

        &:hover {
            background: $blue;

            &::after {
                background: $white;
            }
        }

        &::after {
            content: '';
            display: block;
            background: $blue;
            clip-path: polygon(0 50%, 100% 0%, 100% 100%);
            width: 20px;
            height: 20px;
            justify-self: left;
        }
    }

    .Right {
        @extend .Left;
        transform: scaleX(-1);

        &::after {
            justify-self: right;
        }
    }
}

@media only screen and (max-width: $phone) {
    .Carousel {
        flex-direction: column;

        .Left {
            margin: 1rem 0;
            transform: rotate(90deg);
        }

        .Right {
            transform: rotate(-90deg);
        }
    }
}