@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem 2rem 2rem;
    background: $blue;
    color: $white;
    font-family: $font-title;
    font-size: 1.5rem;
    box-shadow: inset 0 30px 30px -30px $shadow;
}

@media only screen and (max-width: $phone) {
    .Footer {
        flex-direction: column;
        padding: 1rem;
    }
}