@import "./variables/displays.scss";

.about {
    padding: 2rem;

    .flex {
        display: flex;

        p {
            font-size: 1.5rem;
            flex-basis: 60%;
        }

        img {
            margin-left: 3rem;
            flex: 1;
            align-self: flex-start;
            max-width: 100%;
            height: auto;
        }
    }
}

@media only screen and (max-width: $medium) {
    .about {
        .flex {
            flex-direction: column-reverse;
            
            img {
                align-self: flex-end;
            }
        }
    }
}