.about-jumbotron {
    width: 50%;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.about {
    padding: 2rem;

    .flex {
        display: flex;

        .about-text {
            font-size: 1.5rem;
            flex-basis: 60%;
        }

        .about-image {
            margin-left: 3rem;
            flex: 1;
            align-self: flex-start;

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

@media only screen and (max-width: $medium) {
    .about-jumbotron {
        width: 70%;
        margin-left: 0;
    }

    .about {
        .flex {
            flex-direction: column-reverse;
            
            .about-text {
                font-size: 1rem;
            }

            .about-image {
                margin: 0;
                align-self: flex-end;
            }
        }
    }
}