.home {

    .jumbotron {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .jumbotron-image {
            margin-bottom: 2rem;
    
            img {
                max-width: 100%;
                height: auto;
            }
        }
    
        .jumbotron-text {
            color: $white;
            text-align: center;
            font-family: $font-title;
            font-style: italic;
            font-size: 1.5rem;        
        }
    
        .jumbotron-buttons {
            display: flex;
            justify-content: center;
            padding: 3rem;
    
            * {
                &:nth-child(1) {
                    margin-right: 1.5rem;
                }
            }
        }
    }

    .content {
        padding-top: 2rem;

        .flex {
            display: flex;

            .left {
                display: flex;
                align-items: center;
                flex-basis: 50%;
                padding: 0 5rem;

                p {
                    margin-bottom: 3rem;
                    font-size: 1.5rem;
                }

                span {
                    color: $black;
                }

                h1 {
                    font-size: 3rem;
                }

            }

            .right {
                flex-basis: 50%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-wrap: wrap;
                margin: 3rem 0;
                border-left: 1px solid rgba($black, 0.2);
            }
        }


        .lr-section {
            display: flex;
            padding: 5rem;
            padding-bottom: 0;
            
            .lr {
                margin-left: 3rem;
                font-size: 1.5rem;
                text-align: center;
                border-right: 1px solid rgba($black, 0.2);
                padding-right: 3rem;

                h1 {
                    font-size: 2.5rem;
                }

                &:last-of-type {
                    border-right: none;
                }

            }
        }

        .quotes-section {
            width: calc(100% + 2rem);
            margin: 0 -2rem;
            background: $white;

            .title {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                position: relative;

                .wave {
                    width: 100%;
                    transform: scaleX(-1);
                }

                h1 {
                    padding-left: 15%;
                    position: absolute;
                    font-size: 3rem;
                }
            }


            .quotes {
                padding: 2rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;


                .quote {
                    max-width: 500px;
                    margin: 1.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: $medium) {
    .home {
        .jumbotron {
            width: auto;
            margin-top: 1rem;

            .jumbotron-buttons {
                flex-direction: column;
    
                * {
                    &:nth-child(1) {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }

        .content {
            .flex {
                flex-direction: column;

                .left {
                    padding: 0;
                    text-align: center;
                }

                .right {
                    border-left: none;
                }
            }

            .lr-section {
                padding: 0;
                flex-direction: column;

                .lr {
                    width: 100%;
                    text-align: center;
                    font-size: 1rem;
                    margin: 0;
                    border-right: none;
                    margin: 0;
                    padding: 0;

                    h1 {
                        font-size: 1.5rem;
                    }


                    &:nth-last-of-type(even) {
                        text-align: center;
                    }
                }
            }

            .quotes-section {
                .title {
                    h1 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: $phone) {
    .home {
        .content {
            .quotes-section {
                .title {
                    h1 {
                        font-size: 1.5rem;
                    }
                }
                .quotes {
                    .quote {
                        max-width: 300px;
                    }
                }
            }
        }
    }
}