.home {

    .jumbotron {
        margin: 0 auto;
        max-width: 40%;
    
        .jumbotron-image {
            img {
                max-width: 100%;
                height: auto;
            }
        }
    
        .jumbotron-text {
            color: $white;
            text-align: center;
            font-family: $font-title;
            font-style: italic;
            font-size: 1.5rem;    
            align-self: center;
        }
    
        .jumbotron-buttons {
            display: flex;
            align-self: center;
            justify-content: center;
            width: 70%;
            margin: 0 auto;
    
            * {
                &:nth-child(1) {
                    margin-right: 1.5rem;
                }
            }
        }
    }

    .content {
        padding-top: 2rem;

        .flex {
            display: flex;

            .left {
                display: flex;
                align-items: center;
                flex-basis: 50%;
                padding: 0 5rem;

                p {
                    margin-bottom: 3rem;
                    font-size: 1.5rem;
                }

                span {
                    color: $black;
                }

                h1 {
                    font-size: 3rem;
                }

            }

            .right {
                display: flex;
                flex-basis: 50%;
                padding: 0 5rem;
                border-left: 1px solid rgba($black, 0.2);

                ul {
                    align-self: center;

                    li {
                        color: $blue;
                        font-size: 1.5rem;
                        position: relative;
                        margin-top: 1.5rem;
                        cursor: pointer;
                        transition: all 0.15s ease-in-out;

                        &::before{
                            content: '';
                            position: absolute;
                            border-right: 2px solid $black;
                            border-bottom: 2px solid $black;
                            width: 10px;
                            height: 10px;
                            top: calc(50%);
                            left: -20px;
                            transform: translateY(-50%) rotate(-45deg);
                        }

                        &:hover {
                            padding-left: 1rem;
                            color: darken($color: $blue, $amount: 5)
                        }
                    }
                }
            }
        }


        .lr-section {
            display: flex;
            justify-content: space-between;
            padding: 3rem 0;
            
            .lr {
                text-align: center;
                border-right: 1px solid rgba($black, 0.2);
                padding: 0 3rem;

                h1 {
                    font-size: 2rem;
                }

                p {
                    a {
                        white-space: nowrap;
                    }
                }

                &:first-of-type {
                    padding-left: 0;
                }

                &:last-of-type {
                    border-right: none;
                    padding-right: 0;
                }

            }
        }

        .quotes-section {
            margin-top: 3rem;
            padding-top: 3rem;
            border-top: 1px solid rgba($black, 0.2);

            .quotes {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;

                .quote {
                    display: flex;
                    width: 50%;
                    padding: 2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: $medium) {
    .home {
        .jumbotron {
            width: auto;
            padding-bottom: 3rem;
            max-width: 90%;

            .jumbotron-buttons {
                flex-direction: column;
    
                * {
                    &:nth-child(1) {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }

        .content {
            .flex {
                flex-direction: column;

                .left {
                    padding: 0;
                    text-align: center;
                    flex-basis: 100%;
                }

                .right {
                    align-self: center;
                    border-left: none;
                    flex-basis: 100%;
                    padding: 0;
                    text-align: center;

                    ul {
                        li {
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }

            .lr-section {
                margin-top: 3rem;
                padding: 0;
                flex-direction: column;

                .lr {
                    width: 100%;
                    text-align: center;
                    font-size: 1rem;
                    margin: 0;
                    border-right: none;
                    margin: 0;
                    padding: 0;

                    h1 {
                        font-size: 1.5rem;
                    }


                    &:nth-last-of-type(even) {
                        text-align: center;
                    }
                }
            }

            .quotes-section {
                .quotes {
                    .quote {
                        width: 100%;
                        padding: 1rem 0;
                    }
                }
            }
        }
    }
}