// Imports
// Variables
@import "./variables/colors.scss";
@import "./variables/fonts.scss";
@import "./variables/displays.scss";

// Pages
@import "./home.scss";
@import "./about.scss";
@import "./person.scss";


body {
    margin: 0;
    padding: 0;
    color: $black;
    background: $background;
    font-family: $font-text;

    * {
        box-sizing: border-box;
    }
    
    ::before, ::after {
        box-sizing: border-box;
    }
    
    ul, li {
        list-style: none;
        padding-inline-start: 0%;
    }
    
    a {
        text-decoration: none;
        transition: all .3s ease;
        color: $blue;
        border-bottom: 1px solid transparent;
        transition: all 0.15s ease-in-out;

        &:hover {
            border-color: $blue;
        }
    }

    h1 {
        color: $blue;
        font-family: $font-title;
        font-weight: 700;
    }

    .container {
        flex: 1;
        position: relative;
        width: inherit;
    }
}